body{
    background:gray;
}

#art1 p:first-child {
    font-size: 240%;
    font-weight: bold;
}

#art2 p:first-child::first-line {
    font-size: 120%;
    font-weight: bold;
}

div[class*="test"] {
    background: #ffff00;
}