H1{
    color:blueviolet;
    position:absolute;
}

H2{
    color:red;
    position:relative;
}

H3{
    color:blue;
    position:fixed;
}

@media print {
    p { font-size: 60pt }
}

@media screen {
    p { font-size: 10pt }
}

#primero{
    border: dashed; position: relative; height: 8em; margin-bottom: 1em; margin-top: 2em;z-index:1
}

#segundo{
    background: gold; left: 60px; position: absolute; top: 3em;z-index:2
}

#tercero{
    background: lightgreen; height: 7em; left: 20em; opacity: 0.9; position: absolute; top: -25px;z-index:3
}

#texto{
    direction: rtl;
}

#hebreo{
    direction: rtl;unicode-bidi: bidi-override;
}

#hebreortl{
    direction: rtl;unicode-bidi: bidi-override;
}

#hebreoltr{
    direction: ltr;unicode-bidi: bidi-override;
}

#shadow{
    text-shadow: 2px 2px #FF0000;
}